Django==5.1.2
pytest==8.3.3
pytest-django==4.9.0
django-browser-reload==1.16.0
django-crispy-forms==2.3
crispy-bootstrap4==2024.10
django-allauth[socialaccount]==65.0.2
whitenoise==6.7.0
gunicorn==23.0.0
dj-database-url==2.3.0
psycopg==3.2.3
psycopg-binary==3.2.3