crispy-bootstrap4==2022.1
Django==4.2.7
django-allauth==0.58.2
django-tailwind[reload]==3.6.0
dj-database-url==2.1.0
gunicorn==21.0.1
psycopg==3.1.13
psycopg-binary==3.1.13
pytest==7.4.3
pytest-django==4.7.0
whitenoise==6.6.0
