<!--party/templates/party/party_detail/partial_party_edit_form.html-->

{% load crispy_forms_tags %}

<div id="party-form">
    <form hx-put="{% url 'partial_party_detail' party.uuid %}"
          hx-target="#party-form"
          hx-swap="outerHTML"
    >
        <div class="grid grid-cols-3 m-3">
            <div class="mx-auto">
                {{ form.party_date|as_crispy_field }}
            </div>
            <div class="mx-auto">
                {{ form.party_time|as_crispy_field }}
            </div>
            <div class="mx-auto">
                {{ form.venue|as_crispy_field }}
            </div>
            <div class="mx-auto col-span-3 mt-5 w-full">
                {{ form.invitation|as_crispy_field }}
            </div>
        </div>
        <div class="w-full text-center">
            <button type="submit" class="btn-default">Save</button>
        </div>
    </form>
</div>