{% load crispy_forms_tags %}

<form class="table-row"
      hx-post="{% url 'partial_new_gift' party_id %}"
      hx-target="this"
      hx-swap="outerHTML"
      x-data
      x-ref="new_gift_form"
>
    <div class="table-cell py-4 px-6 text-gray-900">{{ form.gift|as_crispy_field }}</div>
    <div class="table-cell py-4 px-6">{{ form.price|as_crispy_field }}</div>
    <div class="table-cell py-4 px-6">{{ form.link|as_crispy_field }}</div>
    <div class="table-cell py-4 px-6">
        <button type="submit">
            Add
        </button>
    </div>

    <div class="table-cell py-4 px-6">
        <button type="button" @click="$refs.new_gift_form.remove()">
            Cancel
        </button>
    </div>
</form>
