@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .btn-default {
      @apply py-2 px-4 font-semibold rounded-xl bg-custom-blue text-custom-powder-light hover:bg-custom-blue-light;
    }
  }
