{% extends 'party/base.html' %}

{% block content %}
    <div class="w-2/5 min-w-fit m-auto text-right" x-data="{ guest_count: false }">
        <template x-teleport="#guest_list_container">
            <div class="w-2/5 p-3 text-center border-custom-blue border-2 rounded-md border-solid bg-sky-200 mx-auto mt-3"
                    x-show="guest_count"
            >
                <p class="text-custom-blue">{{ guests|length }} guest{{ guests|pluralize }} {{ guests|pluralize:"is,are" }} invited to the party.</p>
                <p class="text-custom-blue">{{ attending_num }} guest{{ guests|pluralize }} {{ guests|pluralize:"is,are" }} attending the party.</p>
            </div>
        </template>

        <button class="btn-default mb-3 text-sm"
            x-on:click="guest_count = !guest_count"
            x-text="guest_count ? 'Hide guest count' : 'Show guest count'"
        >

        </button>
    </div>

    <div id="guest_list_container">
        <div class="w-2/5 min-w-fit bg-white shadow-md m-auto">
            {% include 'party/guest_list/partial_guest_filter.html' %}

            <form class="table text-left text-gray-500 table-fixed min-w-fit p-8">
                <div class="table-row-group" id="guests">
                    {% include 'party/guest_list/partial_guest_list.html' %}
                </div>
            </form>

            <div hx-include="#guests"
                hx-target="#guests"
                class="bg-gray-50 grid grid-cols-2"
            >
                <button class="p-5 uppercase text-sm"
                        type="button"
                        hx-put="{% url 'partial_mark_not_attending' party_id %}"
                >
                    Not attending
                </button>
                <button class="p-5 uppercase text-sm"
                        type="button"
                        hx-put="{% url 'partial_mark_attending' party_id %}"
                >
                    Attending
                </button>
            </div>
        </div>
    </div>
{% endblock %}
