<!--party/templates/party/guest_list/partial_guest_filter.html-->

<!--id and hx-swap-oob added-->
<form id="guest_filter_form"
      hx-swap-oob="true"
      hx-post="{% url 'partial_filter_guests' party_id %}"
      hx-trigger="keyup delay:500ms from:#guest_search, search, change from:#attending_filter"
      hx-target="#guests"
>

    <div class="bg-gray-50 p-4 grid grid-cols-2">
        <div class="">
            <input type="search"
                   class="p-2 bg-transparent border-x-transparent border-t-transparent border-b-gray-400 focus:border-x-transparent focus:border-t-transparent focus:border-b-gray-600 focus:ring-0"
                   placeholder="Search guests"
                   id="guest_search"
                   name="guest_search"
            >
        </div>

        <div class="text-right" id="attending_filter">
            <input type="radio" id="all" name="attending_filter" value="all" checked>
            <label for="all" class="uppercase text-xs text-gray-600 pr-2">All</label>

            <input type="radio" id="attending" name="attending_filter" value="attending">
            <label for="attending" class="uppercase text-xs text-gray-600 pr-2">Attending</label>

            <input type="radio" id="not_attending" name="attending_filter" value="not_attending">
            <label for="not_attending" class="uppercase text-xs text-gray-600 pr-2">Not attending</label>
        </div>
    </div>
</form>