{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Party!</title>
    <script type="text/javascript" src="{% static '/party/js/htmx.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/party/js/alpine.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static '/party/js/remove-me.js' %}"></script>
    {% tailwind_css %}
</head>
<body class="bg-custom-powder-light" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <nav class="bg-custom-red">
        <a href="{% url 'page_party_list' %}"
           class="inline-block p-4 text-custom-powder-light font-dancing-script text-2xl"
        >
            My parties
        </a>

        <a href="{% url 'page_new_party' %}"
           class="inline-block p-4 text-custom-powder-light"
           data-cy="new-party-link"
        >
            New party
        </a>

        {% if user.is_authenticated %}
        <a href="{% url 'account_logout' %}" class="inline-block p-4 text-custom-powder-light float-right">
            Logout
        </a>
        {% else %}
        <a href="{% url 'party_login' %}" class="inline-block p-4 text-custom-powder-light float-right">
            Login
        </a>
        {% endif %}
    </nav>
<main class="container p-5 m-auto">
    {% block content %}
    {% endblock %}
</main>
</body>
</html>
